<div class="app-menu">
  <button type="button" class="app-menu__trigger" [attr.aria-label]="'app.menu' | translate" [cdkMenuTriggerFor]="menu">
    <svg [lucideIcon]="menuIcon()" class="app-menu__trigger-icon"></svg>
  </button>

  <ng-template #menu>
    <div class="app-menu__panel" cdkMenu>
      @for (item of items(); track item.id) {
        <button
          type="button"
          class="app-menu__item"
          [class.app-menu__item--danger]="item.tone === 'danger'"
          cdkMenuItem
          (cdkMenuItemTriggered)="selectItem(item.id)"
        >
          @if (item.icon) {
            <svg [lucideIcon]="item.icon" class="app-menu__item-icon"></svg>
          }

          <span>{{ item.label }}</span>
        </button>
      }
    </div>
  </ng-template>
</div>
