@use '@angular/cdk';

@include cdk.text-field-autosize();

html,
body {
  margin: 0;
  height: 100%;
  background: #e5ddd5;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
